* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("./beautiful-milky-way-night-sky.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" -25, "opsz" 48;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  justify-content: space-between;
  align-items: center;
  /* background-color: #0f1f29; */
  color: white;
}

.logo {
  margin: 2rem;
  font-size: 3rem;
}
.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  background: hsl(0 0% 0% / 0.7);
}
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.primary-navigation ul {
  margin: 0;
  padding: 0;
}

.primary-navigation li {
  list-style: none;
}

.primary-navigation li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
}

.primary-navigation li:hover {
  background-color: #2d3f46;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    z-index: 1000;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    color: white;
    width: 2.5rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 2rem;
    z-index: 9999;
    background: none;
    text-align: center;
    line-height: 2rem;
    padding: 1px 6px;
    border-width: none;
    border-style: none;
    font-size: 2.5rem;
  }
}
